<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página cristiana</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="cuerpo">
        {{nombre}}
    </div>
    <script src="js/bundle.js"></script>
</body>
</html>